nav{
     background-color: rgb(245, 245, 146);
     padding: 20px;
}

nav a{
    color: blueviolet;
    padding: 10px;
    display: block;

}

main{
    max-width: 840px;
}

h1{
    color: violet;
}

img{
    width: 200px;
    height: auto;
    border: 10px;
    padding: 15px;
    box-shadow:5px 5px rgb(33,33,33, 0.3);
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /0.2) /* 1 */; 
    padding: 1rem;
    background-color: #eee;
    color:#333 ;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

main image{
    width: 150px;
    height: auto;
}

p{
    padding:0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}